{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bo Flachs">
    
    <title>Ikzoekmiauw</title>

    {% comment %} The w3.css stylesheet {% endcomment %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% comment %} Color theme {% endcomment %}
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
    {% comment %} Social media links {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    {% comment %} Google font {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    {% comment %} My own stylesheet that has precedence over the above {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link 
        rel="preload" 
        as="style" 
        href="{% static 'css/style.css' %}"
        onload="this.rel = 'stylesheet'"> {% endcomment %}
</head>
<body>
    {% comment %} Include the header template {% endcomment %}
    {% include 'partials/_header.html' %}

    <main>
        {% block content %} {% endblock %}
    </main>
    {% comment %} Include the footer template {% endcomment %}
    {% include 'partials/_footer.html' %}
</body>
</html>

