{% extends 'base.html' %}
{% load static %}

{%block css %}
 <link rel="stylesheet" href="{% static 'css/layout.css' %}">
{% endblock %}

{% block content %}
    <article id="index-top">
        <button class="w3-button w3-theme large-button 
        w3-hover-theme">Bekijk de katten</button>
        <img src="{% static 'img/tommie.jpg' %}" alt="Tommie" width="400" height="533">
    </article>
    <article id="kat-van-de-dag" class="w3-container ">
        <header class="barred-header">
            <h1 class="w3-container w3-theme-d2">Katten van de dag</h1>
        </header>
        <section>
            <div class="w3-card-2 w3-theme-l2 card" style="width:33%">
                <header class="w3-container w3-theme">
                    <h2>Tommie</h2>
                </header>
                <div class="w3-container">
                    <img src="{% static 'img/tommie2.jpg' %}" alt="Tommie">
                    <p>Info over Tommie</p>
                </div>
            </div>
            <div class="w3-card-2 w3-theme-l2 card" style="width:33%">
                <header class="w3-container w3-theme">
                    <h2>Tommie</h2>
                </header>
                <div class="w3-container">
                <img src="{% static 'img/tommie3.jpg' %}" alt="Tommie">
                <p>Info over Tommie</p>
            </div>
            </div>
            <div class="w3-card-2 w3-theme-l2 card" style="width:33%">
                <header class="w3-container w3-theme">
                    <h2>Tommie</h2>
                </header>
                <div class="w3-container">
                    <img src="{% static 'img/tommie2.jpg' %}" alt="Tommie">
                    <p>Info over Tommie</p>
                </div>
            </div>
        </section> 
    </article>
    <article id="over-ons" class="w3-container">
        <header class="barred-header">
            <h1 class="w3-container w3-theme-d2">Over ons</h1>
        </header>
        <section class="w3-container">
            <p>Het is de missie van Ikzoekmiauw om zoveel
                mogelijk katten een fijn huisje te bezorgen. Voor sommige katten zal dit in de natuur zijn, terwijl anderen
                het heerlijk vinden om in het zonnetje bij het raam te liggen. Samen met 
                ons team zoeken we het fijnste nieuwe baasje voor al deze katten.
            </p>
        </section>
    </article>
{% endblock %}