/* General styling */
img {
    max-width: 100%;
    margin-top: 3%;
    border-radius: 25px
}

/* Styling for top of the index page */
#index-top {
    display: block;
    text-align: center;
    margin: 1%;
    margin-bottom: 5%;
}

#index-top button{
    position: relative;
    right: 50px;
    bottom: 100px;
}

#index-top img {
    border-radius: 100%;
}

.large-button {
    font-size:50px;
    border-radius: 32px;
}

.large-button:hover{
    color:#000 !important; 
    background-color: #1b7a9f;
}

@media (max-width: 900px){
    #index-top button{
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 20px;
    }
}

/* Styling for kat van de dags */
#kat-van-de-dag section{
    display: inline-flex;
    padding: 0% 10%;
    margin: 20px 0;
}

.card {
    border-radius: 32px;
    margin: 0 5%;
    /* max-height: 20%; */
}

.card header{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.barred-header{
    background-color: #1b7a9f;
    border-radius: 25px;
}

.barred-header h1 {
    width: 40%;
    position: relative;
    /* left: 3%; */
    border-radius: 25px;
    color: black !important
}

/* Styling for "Over Ons" section */
#over-ons p{
    width: 50%;
    text-align: justify;
}

@media (max-width: 970px){
    .barred-header h1{
        width: 50%;
    }
}

@media (max-width: 800px){
    .barred-header h1{
        width: 100%;
    }

    #over-ons p{
        width:100%;
        text-align: center;
    }
}