{% extends 'base.html' %}
{% load static %}

{%block css %}
 <link rel="stylesheet" href="{% static 'css/katalogus.css' %}">
{% endblock %}

{% block content %}
    <div>
        <div>
            <a href="{% url 'katalogus' %}">Clear Filters</a>
            <form method="get">
                <div style="display: grid"> 
                    {% for field in filter.form %}
                        <div id="form-field-{{ forloop.counter0 }}">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="w3-button w3-theme w3-hover-theme">Filter</button>
            </form>
        </div>
        <section id="katlist">
            {% for kat in filter.qs %}
            <div class="w3-card-2 w3-theme-l2 w3-hover-shadow card">
                <header class="w3-container w3-theme">
                    <h2>{{kat.naam}}</h2>
                </header>
                <div class="w3-container">
                    <img src="{% static 'user_media/' %}{{kat.foto}}">
                    <p>{{kat.geslacht}}, {{kat.locatie}}</p>
                    <a href="/katalogus/api/katten/{{kat.id}}" class="card-link"></a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div> 

{% endblock %}