{% load static %}
<footer class="w3-container w3-theme">
    <div class="row top-padded-row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="row">
        <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Katalogus</a></li>
        <li><a href="/privacy/">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Vacature</a></li>
        </ul>
    </div>

    <div class="row bottom-padded-row">
       IKZOEKMIAUW Copyright &copy; {% now 'Y' %} Ikzoekmiauw
    </div>
</footer>